[package]
name = "bevy_tweening"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
bevy_app.workspace = true
bevy_ecs.workspace = true
bevy_time.workspace = true
